@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #FEDEDE;
}
html {
  margin: 0px;
  padding: 0px;
}

.mainCard{
    width: 75rem;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
    margin-top: 6rem;
    padding: 0.4rem;
    display: flex;
}

.leftArea{
    height: 31rem;
    width: 25rem;
    background-color: #3E2093;
    border-radius: 1rem;
    padding: 2rem;
}

#contactText{
    color: #f0f3f7;
    /* transform: scale(); */
    font-size: 1.8rem;
    font-weight: 500;
}

#desText{
    color: #D4D0CF;
    margin-top: 1rem;
    font-size: 1rem;
}

.infoLink{
    display: flex;
}

.infoLink i {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #E3DFDE;
    margin-right: 1rem;
}

.infoLink p{
    margin-top: 3rem;
    font-size: 1rem;
    color: #E3DFDE;
}

.socialLinks i{
    color: #E3DFDE;
    padding-right: 1.1rem;
    padding-top: 9.5rem;
    font-size: 1.3rem;
}


.rowOne input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: #E3DFDE;
    padding-top: 1rem;
    width: 19rem;
}

.rowTwo input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: #E3DFDE;
    padding-top: 1rem;
    width: 19rem;
}

input::placeholder{
    font-size: 1rem;
}

input:focus{
    outline: none;
}

.inputContainer{
    padding: 2rem;
}

.inputContainer p{
    /* color: #2e2e2e; */
    font-weight: 500;
    font-size: 0.9rem;
}

.rowOne{
    display: flex;
}

.rowTwo{
    display: flex;
    margin-top: -1.5rem;
}

#teamSelectionText{
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-weight: 600;
}

.contactCategorySelection{
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
    line-height: 1rem;
}

.contactCategorySelection input {
    margin-right: 0.3rem;
}

.contactCategorySelection p{
    margin-right: 2rem;
    font-size: 1.1rem;
}

input[type = "radio"]{
    width: 1rem;
    height: 1rem;
}

.messageContainer{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.messageContainer p{
    font-weight: 500;
    font-size: 0.9rem;
}

textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: #E3DFDE;
    padding-top: 1rem;
    width: 100%;
    height: 6rem;
}

textarea::placeholder{
    font-size: 1rem;
}

.submitContainer{
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.submitButton{
    width: 8rem;
    height: 3rem;
    background-color: #3E2093;
    border-radius: 7px;
    margin-left: auto;
    margin-right: 4rem;
    text-align: center;
    line-height: 3rem;
    color: #f0f3f7;
    font-size: 0.9rem;
}
